* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: url("../image/bg.jpg") no-repeat;
  background-size: cover;
}
.upload {
  width: 60px;
  height: 60px;
  background: url('../image/upload.png') no-repeat;
  margin: 20px;
}
.upload-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* input 框这样设置才能使 cursor: pointer 生效*/
  font-size: 0;
}
.upload-image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.select {
  display: inline-block;
  cursor: pointer;
}
.select-prompt {
  background: #DCDCDC url('../image/arrow.png') no-repeat calc(100% - 10px) center;
  padding: 5px 40px 5px 5px;
  user-select: none;
  color: #808080;
  font-size: 0.85rem;
}
.select-li {
  background-color: #D3D3D3;
  text-align: center;
  border-bottom: 1px solid #eee;
  line-height: 30px;
  color: #808080;
}
.debris {
  position: absolute;
  background-repeat: no-repeat;
}