<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Puzzle Game</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="app">
    <div class="upload">
      <input type="file" accept="image/*" @change="changeFile" ref="file" class="upload-input">  
    </div>
    <div class="select" v-show="showSelect">
      <p class="select-prompt" @click="showSelectItem = !showSelectItem">{{num}}</p>
      <ul v-show="showSelectItem">
        <li v-for="(item, index) in options" :key="index" class="select-li" @click="chooseNum(item)">
          {{item}}
        </li>
      </ul>
    </div>
    <img :src="imgUrl" ref="image" class="upload-image" v-show="!showDebris">
    <div class="container">
      <div class="debris"
        v-for="(item, index) in num"
        :key="index"
        ref="debris"
        v-show="showDebris"
        :data-debris="index"
        :style="{background: 'url(' + imgUrl + ')'}" 
        @mousedown="move"
      >
      </div>
    </div>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        imgUrl: '',
        options: [4, 9, 16, 25],
        showSelect: false,
        showSelectItem: false,
        showDebris: false,
        num: '请选择碎片的数量',
        imgWidth: 0,
        imgHeight: 0,
        browserW: 0,
        browserH: 0
      },
      mounted() {
        // 获取浏览器窗口的宽高
        this.browserW = document.documentElement.clientWidth;
        this.browserH = document.documentElement.clientHeight;
      },
      methods: {
        // 上传图片
        changeFile() {
          let reader = new FileReader();
          let file = this.$refs.file;
          let image = this.$refs.image;
          this.showSelect = true;
          this.showDebris = false;
          this.num = '请选择碎片的数量';
          reader.readAsDataURL(file.files[0]);
          let _this = this;
          reader.onload = function() {
            _this.imgUrl = this.result;
            image.src = this.result;
            // 若图片过大则进行压缩
            setTimeout(() => {
              // 获取上传的图片的宽高
              _this.imgWidth = image.naturalWidth;
              _this.imgHeight = image.naturalHeight;
              // 最大图片宽度设置为浏览器宽度的80%
              let maxWidth = parseInt(_this.browserW * 0.5);
              if(_this.imgWidth > maxWidth) {
                _this.imgHeight = parseInt(maxWidth * _this.imgHeight / _this.imgWidth);
                _this.imgWidth = maxWidth;
                image.style.width = _this.imgWidth + 'px';
                image.style.height = _this.imgHeight + 'px';
              }
            }, 0)
          }
        },
        // 确定图片碎片的属性并显示
        chooseNum(val) {
          this.showSelectItem = false;
          this.num = Number(val);
          if(this.imgUrl === '') {
            return;
          }
          this.showDebris = true;
          // $refs不是响应式的，需要在$nextTick等DOM更新后才能获取到
          this.$nextTick(()=>{
            // 计算每个碎片的宽高
            let debrisWidth = this.imgWidth / (Math.sqrt(this.num));
            let debrisHeight = this.imgHeight / (Math.sqrt(this.num));
            let arr = this.$refs.debris; 
            let index = 0;
            for(let i=0, len=Math.sqrt(this.num); i<len; i++) {
              for(let j=0; j<len; j++) {
                // 给每一个碎片设置宽高和背景图的位置
                arr[index].style.width = debrisWidth + 'px';
                arr[index].style.height = debrisHeight + 'px';
                arr[index].style.backgroundPosition = `${debrisWidth * j}px ${debrisHeight * i}px`;
                // 若图片经过了压缩则使用压缩后的图片大小，否则得到的碎片显示的区域有误
                arr[index].style.backgroundSize = `${this.imgWidth}px ${this.imgHeight}px`;
                // 给每一个碎片随机分配位置
                let randomX = Math.random() * (this.browserW - debrisWidth + 1);
                let randomY = Math.random() * (this.browserH - debrisHeight + 1);
                arr[index].style.left = randomX + 'px';
                arr[index].style.top = randomY + 'px';
                index++;
              }
            }
          })
        },
       // 拖拽
        move(e) {
          e = e || window.event;
          let target = e.targe || e.srcElement;
          let startX = e.clientX;
          let startY = e.clientY;
          let px = target.offsetLeft;
          let py = target.offsetTop;
          document.onmousemove = function(e) {
            e = e || window.event;
            let x = e.clientX - startX + px;
            let y = e.clientY - startY + py;
            target.style.left = `${x}px`;
            target.style.top = `${y}px`;
          };
          document.onmouseup = () => {
            document.onmousemove = null;
            document.onmouseup = null;
          };
        },
      }
    })
  </script>
</body>
</html>